.search{
    animation: search 1s forwards, left 1s ease-in-out;
    transition: all 1s;
}
@keyframes search {
    from {
       /* transform:translateX(0); */
       left: 80%;
    }
    to{
        /* transform:translate(10); */
        left: 95%;
    }
}

/* cart number animation */

.popup{
    animation: poopup 0.5s ease-in;
    transition: all 1s;
}
@keyframes popup {
    from{
        opacity: 0;
        transform: translateZ(0);
    }
    to{
        opacity: 1;
        transform: translateZ(100);
    }
}


/* Add this to your global styles or a specific CSS/SCSS file */
.category-list {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.category-list::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

.category-item {
  scroll-snap-align: start;
}


.filter-page {
    padding: 20px;
  }
  
  .filter-options {
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-card h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .product-card p {
    margin: 5px 0;
  }
  


  .category-page {
    display: flex;
    padding: 20px;
  }
  
  aside {
    width: 250px;
    margin-right: 20px;
  }
  
  .main {
    flex: 1;
  }
  
  .sidebar-filter h4 {
    margin-bottom: 10px;
  }
  
  .checkbox-group {
    margin-bottom: 10px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .product-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .sorting-options {
    margin-bottom: 20px;
  }
  

  