.search{
    animation: search 1s forwards, left 1s ease-in-out;
    transition: all 1s;
}
@keyframes search {
    from {
       /* transform:translateX(0); */
       left: 80%;
    }
    to{
        /* transform:translate(10); */
        left: 95%;
    }
}

/* cart number animation */

.popup{
    animation: poopup 0.5s ease-in;
    transition: all 1s;
}
@keyframes popup {
    from{
        opacity: 0;
        transform: translateZ(0);
    }
    to{
        opacity: 1;
        transform: translateZ(100);
    }
}


/* styles.css or any other stylesheet you are using */
.flex1 {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
}




  .react-image-magnify__lens {
    position: absolute;
    border: 1px solid #000;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  
  .react-image-magnify__large-image {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
  }
  
  .react-image-magnify__enlarged-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    pointer-events: none;
  }
  